*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    231deg,
    rgba(22, 6, 40, 1) 10%,
    rgba(52, 28, 79, 1) 50%,
    rgb(136, 21, 189) 100%
  );
}
.container {
  width: 50%;
  max-height: 450px;
}
h1 {
  color: white;
  opacity: 0.75;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}
.display-container {
  position: relative;
  background-color: rgb(31, 6, 31);
  border-radius: 1rem;
  border-bottom: 0.35rem solid rgb(82, 14, 82);
  margin: 1rem 0;
  padding: 0.35rem;
}

.display {
  width: 100%;
  background-color: transparent;
  padding: 1rem 1rem;
  color: rgb(208, 208, 16);
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25rem;
  border: none;
}
.display::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  line-height: 30px;
  font-size: 1.5rem;
  opacity: 0.65;
  color: rgb(208, 208, 16);
  text-transform: uppercase;
}
 
.tooltip{
  background-color: aqua;
}

.input-container {
  width: 100%;
  border-radius: 1rem;
  background-color: rgb(31, 6, 31);
  padding: 2rem;
  border-bottom: 0.35rem solid rgb(82, 14, 82);
}
.length-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.length-container p:nth-child(1) {
  color: white;
  opacity: 0.9;
  font-size: 1.5rem;
}
.length-container p:nth-child(2) {
  color: rgb(208, 208, 16);
  font-size: 1.5rem;
}
.strength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}
.strength-container p {
  color: white;
  font-size: 1.5rem;
}
.data-indicator {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.generateBtn {
  width: 100%;
  padding: 1rem 0;
  background-color: rgb(138, 36, 138);
  text-align: center;
  border-radius: 0.75rem;
  border-bottom: 0.35rem solid rgb(208, 208, 16);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(208, 208, 16);
  font: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;
}
.check input {
  appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(87, 214, 214);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
}

.check input:checked {
  background-color: rgb(87, 214, 214);
}

.check input:checked::before {
  content: "✔";
  position: absolute;
  color: rgb(11, 56, 68);
  font-size: 1.05rem;
  font-weight: 700;
  bottom: 2px;
  left: 4px;
}
.check label {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.75px;
}

.slider {
  appearance: none;
  width: 100%;
  cursor: pointer;
  height: 0.75rem;
  background-color: rgb(195, 39, 195);
  border-radius: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.5);
  transition: all 100ms ease-in;
}
.slider:focus{
  outline: 2px solid yellow;
}
.slider::-webkit-slider-thumb:hover{
  outline: 2px solid yellow;
  box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.5);
  background-color: rgb(30, 5, 30) ;
}
 